body{
    margin:0;padding:0;
    background:#f5f5f5;
}

.my_small{
    font-size:0.8rem;
}

/*头跟脚的通用样式*/
/*引入header footer的宽度*/
.my_header,.my_footer{
    width:100%;
}

/*手写媒体查询*/
/*大屏*/
@media screen and (min-width:992px){
    .my_header{
        height:10rem;
    }

    .my_footer{
        height:30rem;
    }
}

/*中屏*/
@media screen and (max-width:991px) and (min-width:768px){
    .my_header{
        height:17rem;
    }

    .my_footer{
        height:57rem;
    }
}

/*小屏幕*/
@media screen and (max-width:767px){
    .my_header{
        height:15rem;
    }

    .my_footer{
        height:70rem;
    }
}